#ul1 {
    margin: 0px;
}

.ul2 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.ul3 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 60px;
}

/* li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
} */

.ul4 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
/* change the link cover on hover */
li a:hover {
    background-color: #555;
    color: white;

}

li a:active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}