table, th, td {
    border: 1px solid black;
}

th, td {padding: 15px;
}

th {text-align: left;
}

table {
    border-spacing: 15px;
}

table#t01 {
    width: 100%;
    background-color: #f1f1c1; 
}
table#t01 tr:nth-child(even) {
    background-color: #eee; 
}

table#t01 tr:nth-child(odd) {
    background-color: #fff; 
}

table#t02 th {
    background-color: black;
    color:blue; 
}

ul#menu {
    padding: 0;
}

ul#menu li{
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}

div.cities {
    background-color: black;
    color:white;
    margin: 20px;
    padding: 20px;
}
span.note {font-size: 120%; color: red;}

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

#section {
    width: 350px;
    float: left;
    padding: 10px;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}

section {
    width: 350px;
    float: left;
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

table.kitten {
    width: 100%;
    border: 1px solid #d4d4dd;
}
table.kitten th, td {
    padding: 10px;
}

table.kitten th {
width: 40px;
}

.newcity {
    float: left;
    margin: 50px;
    padding: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

div.static {
    position: static;
    border: 3px solid #73ad21;   
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73ad21;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73ad21;
}
div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73ad21;
}
.footer #img {
    position: absolute;
    left: 100px;
    bottom: 500; 
    z-index: -1;
 }

 .container {
     position: relative;
 }


 .topleft {
     position: absolute;
     top: 8px;
     left: 16px;
     font-size: 18px;
     color: white;
 }

 .topright {
     position: absolute;
     top: 16px;
     right: 16px;
     font-size: 18px;
     color: white;
 }

 #img2 {
     width: 100%;
     height: auto;
     opacity: 0.3;
 }

 #img6 {
     position: absolute;
     clip: rect(0px,60px,200px,0px);
 }

 div.scroll {
     background-color: #00FFFF;
     width: 100px;
     height: 100px;
     overflow: scroll;
 }

 div.hidden {
     background-color: #00FF00;
     width: 100px;
     height: 100px;
     overflow: hidden;
 }

#div1 {
     background-color: #00FFFF;
     width: 150px;
     height: 150px;
     overflow: auto;
 }

 #img7 {
     float: right;
     margin: 0 0 10px 10px;

 }

 .div0 {
     float: left;
     width: 100px;
     height: 50px;
     margin: 10px;
     border: 3px solid #73ad21;
}

.div2 {
    border: 1px solid red;
}
.div3 {
    float: left; 
    width:100px;
    height: 50px;
    margin: 10px;
    border: 3px solid #73ad21;
}

.div4 {
    border: 1px solid red;
clear: left;
}

.div5 {
    border: 3px solid #73Ad21;
}

.img1 {
    float: right;
}

.clearfix {
    overflow: auto;
    border: 3px solid #73Ad21;
}

.img2 {
    float: right;

}

#div6 {
    border: 3px solid blue;
    width: 55%;
}

.clearfix2 {
    overflow:auto;
}

nav#nav1 {
    float: left;
    width: 200px;
    border: 3px solid #73ad21;
}

.section1 {
    margin-left: 206px;
    border: 3px solid red;
}

.img3 {
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
}

.div7 { 
    float: right;
    width: 120px;
    margin: 0 0 15px 20px;
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

.span1 {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: algerian;
    line-height: 80%;
}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li1 {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div.container {
    width: 100;
    margin: 0px;
    border: 1px solid grey;
    clear: left;
}

h1.header {
    padding: 0;
    margin: 0;
}

div.left {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

div.content {
    margin-left: 190px;
    border-left: 1px solid grey;
    padding: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    display: block;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.headerz {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

.navz {
    line-height: 30px;
    background-color: #eeeeee;
    height: 300px;
    width: 100px;
    float: left;
    padding: 5px;
}
.sectionz {
    width: 350px;
    float: left;
    padding: 10px;
}

.footerz {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}

table.lamp {
width: 100%;
border: 1px solid #d4d4d4

}

table.lamp th, td {
    padding: 10px;
}

table.lamp th {
    width: 40px;
}

/* <!-- If the table has collapsed borders, border-spacing has no effect. --> */



